[submodule "vim/bundle/gundo"]
	path = vim/bundle/gundo
	url = https://github.com/sjl/gundo.vim.git
[submodule "vim/bundle/unimpaired"]
	path = vim/bundle/unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "vim/bundle/fugitive"]
	path = vim/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/supertab"]
	path = vim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "vim/bundle/camel-case-motion"]
	path = vim/bundle/camel-case-motion
	url = https://github.com/bkad/CamelCaseMotion.git
[submodule "vim/bundle/arg-text-obj"]
	path = vim/bundle/arg-text-obj
	url = https://github.com/vim-scripts/argtextobj.vim.git
[submodule "vim/bundle/indent-obj"]
	path = vim/bundle/indent-obj
	url = https://github.com/michaeljsmith/vim-indent-object.git
[submodule "vim/bundle/tag-bar"]
	path = vim/bundle/tag-bar
	url = https://github.com/majutsushi/tagbar.git
[submodule "vim/bundle/jslint"]
	path = vim/bundle/jslint
	url = https://github.com/hallettj/jslint.vim.git
[submodule "vim/bundle/pyflakes"]
	path = vim/bundle/pyflakes
	url = https://github.com/kevinw/pyflakes-vim
